@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #ffbde8;
  --gradient-color-2: #f46cbb;
  --gradient-color-3: #d8e9ee;
  --gradient-color-4: #cd94ff;
}
